#root {
  margin: 0 auto;
  text-align: center;
}

.square{
  width: 56px;
  position: relative;
  display: block;
}

.symbol{
  width: 56px;
  height: 56px;
  white-space: pre;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.head-top{
  top: 0px;
  border-top: solid gold 6px;
  height: 62px;
}

.head-bottom{
  border-bottom: solid gold 6px;
  height: 90px;
}

.head-side{
  width: 68px;
  border-left: solid gold 6px;
  border-right: solid gold 6px;
}

.track:has(.head-top) > .square:not(.head-top), .tape > .square:not(.head-top){
  top: 6px;
}

.track, .tape{
  display: flex;
}

.tape{
  margin-bottom: 25px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#container:has(.track) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#container::-webkit-scrollbar, .tape::-webkit-scrollbar{
  display: none;
}

#container{
  position: relative;
}

table{
  width: 80%;
  min-width: 300px;
  justify-content: center;
  display: flex;
  margin: auto;
}

tr{
  width:100%;
}

.type td{
  width: 33%;
}

.inputs {
  display: inline-block;
  width: 42%;
  vertical-align: middle;
  margin: 2%;
}

label {
  text-align: right;
}

.output{
  display: inline-block;
  margin: auto;
}

.output textarea{
  width: 25%;
  min-width: 300px;
  height: 25%;
  min-height: 100px;
  display: block;
}

#delayRange{
  width: 20%;
  min-width: 100px;
  vertical-align: middle;
  padding-left: 1%;
  padding-right: 1%;
}